{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register your geese
      </h1>

        <h2 class="govuk-heading-m">Version 1</h2>

      <p>This iteration is the most paired back version and is designed to tell the user if they need to register for a goose licence or not.</p>

      <a href="01start">Start version 1</a>

    </div>
  </div>

{% endblock %}
