
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register your Geese Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">What's the problem the service is trying to solve?</h2>

      <p>In recent years geese have become increasingly popular and this alternative Christmas bird has proven
        itself a versatile commodity to own. Whether its the poultry farming market, the lucrative feather market (producing high-street feather jackets,
        luxury down duvets, ethnic jewellery and more) or the newly established 'experience' market (hipsters spending their money on goose walking days out)
        it seems that geese are trending everywhere. Due to this increase in demand, we are seeing a rise of small scale goose farms that are not being monitored
        for either the welfare standards of the geese or for their taxable income. Even more incidious is the emergance of a goose black market where the rarer geese
        breeds are being trafficked illegally. By making sure large numbers of geese along with smaller numbers of geese that provide an income are registerd the
        government hopes to get on top of these new problems.
      </p>


      <h2 class="govuk-heading-m">What do we already know about?</h2>

      <p>Farmers with large flocks of birds for commercial purposes are already registered under agriculture laws/services run by Defra. We are concerned about large flocks
        that are not under the defra registration schemes and/or smaller flocks that generate an income :
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Small flocks kept by farmers/land owners/citizens for financial gain</li>
        <li>Large flocks kept by farmers/land owners/citizens, for their own use (e.g. eggs, meat, pets)</li>
      </ul>

      <h2 class="govuk-heading-m">Scope for the discovery/alpha</h2>

      <p> We do not yet know the scale or volume of the problem or if people will be willing to register.This prototype aims to help researchers identify the problems and the scale of them.
        Start with the numbers of geese that people own and it they profit from them. What will this show us? How many people will need to register their geese? If they are registering then discover
        what they use their geese for to build up a picture of the goose industry.


      <p>Possible groups of users
        <ul class="govuk-list govuk-list--bullet">
          <li>Farmers</li>
          <li>Small scale farmers</li>
          <li>Businesses</li>
          <li>Start-Up Businesses</li>
          <li>The Public</li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">Assumptions to test</h2>

      <p>This prototype has so far been made off of assumptions which will need testing in User Research.</p>

      <p>The current assumptions are:
        <ul class="govuk-list govuk-list--bullet">
          <li>Is flock the better term? Or is gaggle more suitable? Does it change depending on numbers?</li>
          <li>That owning over 20 geese constitutes as large numbers and should be registered</li>
          <li>That there are large flocks kept that are not registered with Defra</li>
          <li>That profit is being made from small numbered flocks</li>
          <li>That people are unsure of the laws around animal farming and business laws.</li>
          <li>That people will register to help them comply with business and animal farming laws</li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">Prototype Iterations</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="01/index">Version 1</a>
        </li>
        <li>
          <a href="02/index">Version 2</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
