{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="02how-many-geese">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You may need to register your geese.
      </h1>

      <p>It is important to find out how many geese you have. If you own 10 or more then you may need to register them. We advise you check the size of your gaggle and then come back to this service.</p>

      <p><a href="01start">Go back to the start</a>.</p>

    </div>
  </div>

{% endblock %}
